[defaults]

# debug              = True
# verbosity          = 0

inventory          = inventory.yml

roles_path         = ../..

no_target_syslog   = True

interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=1200
